<h1>Mostrar lista de filmes<h1>

<%@list.bookmarks.each do |bookmark| %>
    <p><%= "#{bookmark.movie.title} " %></p>
    <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
<%end %>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit "Criar bookmark!" %>
<% end %>